@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--default-card-radius: 40px;
	--card-bg: rgba(43, 0, 74, 0.8);
	--translucent-blur-bg: rgba(217, 217, 217, 0.05);
}

* {
	box-sizing: border-box;
	font-family: 'Oxanium', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

html,
body {
	color: rgba(255, 255, 255, 1);
	background: rgba(10, 0, 24, 1);
}

.card {
	@apply bg-(--card-bg) shadow-lg backdrop-blur-xl;
}

.translucent-blur {
	@apply bg-(--translucent-blur-bg) backdrop-blur-2xl;
}
